# Data Definition

AI Generated Dummey Data

In [8]:
from Hashing import hash_password

hash_password("dasda")

'2e17b6c1df874c4ef3a295889ba8dd7170bc5620606be9b7c14192c1b3c567aa'

In [11]:
import pandas as pd
from Hashing import hash_password


n = 10

data = {
    "ID": [f"{30309201401390+i}" for i in range(n)],
    "First Name": ["Ahmed", "Sara", "Omar", "Mona", "Ali", "Nour", "Youssef", "Lina", "Hassan", "Aya"],
    "Last Name": ["Kamal", "Ibrahim", "Hassan", "Mahmoud", "Adel", "Mostafa", "Samir", "Fathy", "Saad", "Nabil"],
    "Email": [f"user{i}@example.com" for i in range(n)],
    "Password": [hash_password(f"pass{i}123") for i in range(n)],
    "Mobile Number": [f"01012345{str(i).zfill(2)}" for i in range(n)],
    "Status": ["Active"] * n,
    "Role": ["User"] * n
}

user_data = pd.DataFrame(data)

In [12]:
user_data.head()

,ID,First Name,Last Name,Email,Password,Mobile Number,Status,Role
0,30309201401390,Ahmed,Kamal,user0@example.com,529c7ce85db8400173f08829148bcd9c1f506fe9246234...,0101234500,Active,User
1,30309201401391,Sara,Ibrahim,user1@example.com,095c42f7d3eaad28cbda78c6d52b25f561994817d1a4d2...,0101234501,Active,User
2,30309201401392,Omar,Hassan,user2@example.com,8384a56738d6183fa762dea17cbf2bd888d0f1dc7d3510...,0101234502,Active,User
3,30309201401393,Mona,Mahmoud,user3@example.com,a9c9591e6811eced719b863144f0caa7150f699c0d6fff...,0101234503,Active,User
4,30309201401394,Ali,Adel,user4@example.com,c4dd0d12e912c08631703cc4ed213d788c5e5421e1d4bd...,0101234504,Active,User

In [13]:
user_data.to_csv(r"Data/users.csv", index=False)

In [11]:
user_data = pd.read_csv("Data/users.csv")

In [34]:
idx = user_data.index[user_data["ID"] == 30309201401390][0]

user_data.at[idx, "Status"] = "Active"

AI Generated Dummey Data

In [9]:
import pandas as pd

task_data = pd.DataFrame({
    "Task ID" : [i for i in range(15)],
    "Title": [
        "Setup Database", "API Development", "UI Design", "Authentication",
        "Unit Testing", "Deployment", "Bug Fixing", "Code Review",
        "Documentation", "Performance Optimization", "Logging System",
        "Notification Service", "Role Management", "Backup Strategy",
        "Security Audit"
    ],
    "Description": [
        "Initialize database schema",
        "Develop REST API for tasks",
        "Design dashboard interface",
        "Implement login and JWT auth",
        "Write unit tests",
        "Deploy app to production",
        "Fix reported bugs",
        "Review pull requests",
        "Write project documentation",
        "Optimize database queries",
        "Implement centralized logging",
        "Email and in-app notifications",
        "Add roles and permissions",
        "Setup automated backups",
        "Run security vulnerability scan"
    ],
    "Priority": [
        "High", "High", "Medium", "High", "Medium",
        "Low", "High", "Medium", "Low", "High",
        "Medium", "Low", "High", "Medium", "High"
    ],
    "Status": [
        "Open", "In Progress", "Open", "Completed", "Pending",
        "Pending", "In Progress", "Open", "Open", "Pending",
        "In Progress", "Open", "Open", "Pending", "Open"
    ],
    "Date Created": [
        "2026-01-01", "2026-01-02", "2026-01-03", "2025-12-28",
        "2026-01-04", "2026-01-05", "2026-01-06", "2026-01-06",
        "2026-01-07", "2026-01-08", "2026-01-09", "2026-01-10",
        "2026-01-11", "2026-01-12", "2026-01-13"
    ],
    "Due Date": [
        "2026-01-05", "2026-01-10", "2026-01-12", "2026-01-03",
        "2026-01-15", "2026-01-20", "2026-01-09", "2026-01-08",
        "2026-01-18", "2026-01-14", "2026-01-16", "2026-01-22",
        "2026-01-19", "2026-01-25", "2026-01-18"
    ],
    "Owner": [str(f"{30309201401390+i}") for i in range(15)]
})

In [10]:
task_data.to_csv("Data/tasks.csv", index=False)

In [6]:
import pandas as pd
task_data = pd.read_csv("Data/tasks.csv")
task_data.head()

,Task ID,Title,Description,Priority,Status,Date Created,Due Date,Owner
0,0,Setup Database,Initialize database schema,High,Open,2026-01-01,2026-01-05,30309201401390
1,2,UI Design,Design dashboard interface,Medium,Open,2026-01-03,2026-01-12,30309201401392
2,3,Authentication,Implement login and JWT auth,High,Completed,2025-12-28,2026-01-03,30309201401393
3,4,Unit Testing,Write unit tests,Medium,Pending,2026-01-04,2026-01-15,30309201401394
4,5,Deployment,Deploy app to production,Low,Pending,2026-01-05,2026-01-20,30309201401395

In [10]:
task_data.sort_values(by="Due Date")

,Task ID,Title,Description,Priority,Status,Date Created,Due Date,Owner
2,3,Authentication,Implement login and JWT auth,High,Completed,2025-12-28,2026-01-03,30309201401393
0,0,Setup Database,Initialize database schema,High,Open,2026-01-01,2026-01-05,30309201401390
6,7,Code Review,Review pull requests,Medium,Open,2026-01-06,2026-01-08,30309201401397
5,6,Bug Fixing,Fix reported bugs,High,In Progress,2026-01-06,2026-01-09,30309201401396
1,2,UI Design,Design dashboard interface,Medium,Open,2026-01-03,2026-01-12,30309201401392
8,9,Performance Optimization,Optimize database queries,High,Pending,2026-01-08,2026-01-14,30309201401399
3,4,Unit Testing,Write unit tests,Medium,Pending,2026-01-04,2026-01-15,30309201401394
9,10,Logging System,Implement centralized logging,Medium,In Progress,2026-01-09,2026-01-16,30309201401400
7,8,Documentation,Write project documentation,Low,Open,2026-01-07,2026-01-18,30309201401398
13,14,Security Audit,Run security vulnerability scan,High,Open,2026-01-13,2026-01-18,30309201401404
11,12,Role Management,Add roles and permissions,High,Open,2026-01-11,2026-01-19,30309201401402
4,5,Deployment,Deploy app to production,Low,Pending,2026-01-05,2026-01-20,30309201401395
10,11,Notification Service,Email and in-app notifications,Low,Open,2026-01-10,2026-01-22,30309201401401
12,13,Backup Strategy,Setup automated backups,Medium,Pending,2026-01-12,2026-01-25,30309201401403

In [2]:
from Task.Task import *

Task_Operations.retrieve_tasks_by_userid(30309201401391)

Empty DataFrame
Columns: [Task ID, Title, Description, Priority, Status, Date Created, Due Date, Owner]
Index: []

In [ ]:
from Task.Task import *

Task_Operations.search_tasks("Setup")

Empty DataFrame
Columns: [Task ID, Title, Description, Priority, Status, Date Created, Due Date, Owner]
Index: []